.homework-answer-form-form {
    background-color: var(--color-jet-transparent);
    padding: 50px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    margin-bottom: 50px;
    color: var(--color-ghost-white);
    width: 300px;
}

.homework-answer-form-inputs-container {
    margin-bottom: 20px;
}

.homework-answer-form-error {
    font-size: 16px;
    color: var(--color-imperial-red);
    margin-bottom: 16px;
}

.homework-answer-form-submit-button {
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--color-blue-green-transparent);
    color: var(--color-ghost-white);
    cursor: pointer;
    transition: all;
    transition-duration: 200ms;
}

.homework-answer-form-submit-button:hover {
    background-color: var(--color-blue-green);
    transform: scale(1.2);
}