.input-input-label {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 3px;
}

.input-input {
    display: block;
    width: 100%;
    background-color: var(--color-jet-transparent);
    border: none;
    padding: 10px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    margin-bottom: 10px;
    color: var(--color-ghost-white);
    border-radius: 5px;
    transition: all;
    transition-duration: 200ms;
}

.input-input::placeholder {
    color: var(--color-ghost-white);
}

.input-input:focus {
    background-color: var(--color-jet);
    transform: translateX(-50%) scale(1.1);
}

.input-input:hover {
    background-color: var(--color-jet);
}
.input-input-error {
    color: var(--color-imperial-red);
    font-size: 16px;
}