.home-container {
    padding: 50px;
    color: var(--color-ghost-white);
}

.home-message {
    background-color: var(--color-jet);
    padding: 50px;
    margin: 20px;
    font-size: 24px;
    opacity: 0.7;
    border-radius: 20px;
}